workflow.json
{
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "company-files",
          "cachedResultName": "company-files"
        },
        "options": {}
      },
      "id": "b4de29b3-a685-4af6-9d4a-1dbf403c63f7",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        304,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "RQgX7wAoTI4ccPVf",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b0169416-df3a-4b1c-9dea-d79b116c4d32",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        272,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "X3dhg8YITAdU7VAk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "3d53bcea-642f-4401-9a83-a8906f2c9b1c",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        464,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "546e46c4-8426-4c18-b12b-ee6e2062906e",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        448,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful University assistant designed to answer student questions based on university public documents.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the student's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the university's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\"\n\nAlways respond in the user's language.\nUse at most 2 tool call's."
        }
      },
      "id": "62261b60-1c32-49ff-86e9-32b860f668aa",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        48,
        1200
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any university documents",
        "topK": 5
      },
      "id": "988a1e7a-22e1-4c8c-995a-1f36bc267060",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        448,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "company-files",
          "cachedResultName": "company-files"
        },
        "options": {}
      },
      "id": "3801f413-21de-4ff4-bbc6-b281cbb9f872",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        352,
        1600
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "RQgX7wAoTI4ccPVf",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "3b4d8ecb-9bd2-4b59-9014-a0afff3cc35a",
      "name": "Embeddings Google Gemini (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "position": [
        336,
        1760
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "X3dhg8YITAdU7VAk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "c4a59067-2b8a-49df-9bdf-fd6e0b85d832",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        96,
        352
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bCeyXdQEhMla6uo9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lN6l3-wkUDJT6P1j5ZDAn0Ikf1y9n_r6",
          "mode": "list",
          "cachedResultName": "infocenter",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lN6l3-wkUDJT6P1j5ZDAn0Ikf1y9n_r6"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "b22a041c-6c96-4468-b5f4-8c260f6008fd",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -240,
        496
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bCeyXdQEhMla6uo9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lN6l3-wkUDJT6P1j5ZDAn0Ikf1y9n_r6",
          "mode": "list",
          "cachedResultName": "infocenter",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lN6l3-wkUDJT6P1j5ZDAn0Ikf1y9n_r6"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "95a6964c-ad88-44f0-aa4c-f4e6a338f3df",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -240,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bCeyXdQEhMla6uo9",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "93c08bfa-9c55-4fb0-8884-705c08713bf6",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        144,
        1440
      ],
      "typeVersion": 1.3,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "37fdb779-8c9e-4913-b831-61d87845c2a0",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -288,
        1056
      ],
      "webhookId": "5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Add docuemnts to vector store when updating or creating new documents in Google Drive",
        "width": 320
      },
      "id": "bf81cd89-b931-40f3-b7ee-6e9f6330b1ab",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "bb559527-ecd0-43dc-b369-09ab5b7ef59e",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -352,
        1456
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "X3dhg8YITAdU7VAk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "id": "bace64b5-ed0c-443c-a4cb-58a7e694596f",
      "name": "Google Gemini Chat Model (retrieval)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        912,
        1600
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "X3dhg8YITAdU7VAk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        1440
      ],
      "id": "9d0b576c-c5ce-4462-b7ed-8c8f7bf3a99c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "PjTNbTvFz56OFU94",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "xiaomi/mimo-v2-flash:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        912,
        1760
      ],
      "id": "cd541f15-5ce8-4f05-8421-418b672bc984",
      "name": "OpenRouter Chat Model(Retrieval)",
      "credentials": {
        "openRouterApi": {
          "id": "PjTNbTvFz56OFU94",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        1200
      ],
      "id": "223b5737-5083-4375-bbe8-38282cfd47e4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        1264
      ],
      "id": "d5c48a7c-f795-43a4-9afb-c9949ae9f92f",
      "name": "Webhook",
      "webhookId": "b3042c1b-9fcb-454b-8b6b-dd985f640eaa"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -16,
        1488
      ],
      "id": "1d52e8a0-057a-4e35-b116-de3356500059",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "xB6dpmwpOO7EEh3r",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        672,
        1648
      ],
      "id": "d6a097e7-c5a1-4910-b090-dacd3f6f185f",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "xB6dpmwpOO7EEh3r",
          "name": "DeepSeek account"
        }
      }
    }
  ],
  "connections": {
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini (retrieval)": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model (retrieval)": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenRouter Chat Model(Retrieval)": {
      "ai_languageModel": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "588b245c68fa194486ca60a472237b95bb810f65d10e8e64ea1693bdde9ccc90"
  }
}